<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537236481453-uveio9jp7jq2t3hvlrd4hi8v530tmrfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537236481453-uveio9jp7jq2t3hvlrd4hi8v530tmrfp</string>
	<key>API_KEY</key>
	<string>AIzaSyBsVW-Wkxh30ZGSioguKWJUOc6INW6-Czw</string>
	<key>GCM_SENDER_ID</key>
	<string>537236481453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.nibmarticle</string>
	<key>PROJECT_ID</key>
	<string>nibmarticle-518e3</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmarticle-518e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:537236481453:ios:254a41022ed9e4ba352d24</string>
	<key>DATABASE_URL</key>
	<string>https://nibmarticle-518e3.firebaseio.com</string>
</dict>
</plist>
